@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,400&display=swap');

/* COLORS */
:root {
    --not-white: #E3D7D7;
    --pred: #D52B1E;
    --pblue: #0038A8;
}

/* GLOBAL SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1em;
    color: black;
}

h1 {
    font-weight: 700;
    font-size: 4em;
}

body {
    background-color: var(--not-white);
}

/* SMOOTH SCROLL */
html {
    scroll-behavior: smooth;
}

/* COOKIES */
#cookie-consent {
    position: fixed;
    top: 78%;
    right: 10%;
    width: 20%;
    padding: 2em;
    background-color: var(--pred);
    color: #fff;
    text-align: center;
    border-radius: 20px;
    z-index: 4;
}

#cookie-consent button {
    background-color: white;
    color: black;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    margin: 1em 1em;
}

/* NAV */
nav {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 80%;
    right: 1%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 5%;
    border-radius: 50px;
    box-shadow: 15px 15px 20px 0px rgba(0,0,0,0.75);
}

nav i {
    padding: 0.8em;
    font-size: 2em;
    color: black;
    transition: 0.2s;
}

nav i:hover {
    color: var(--pred);
}

/* HEADER */
.imageslide {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageslide div {
    display: flex;
    align-items: center;
    background-color: black;
    padding: 0.3em 5em;
}

.imageslide h1 {
    font-size: 8em;
    mix-blend-mode: screen;
}

.imageslide h1,.imageslide h2,.imageslide i {
    color: var(--not-white);
}

.imageslide div h2 {
    margin-left: 0.5em;
}

.parallax1 {
    background-image: url("../media/slideshow1.jpg");
}

.parallax2 {
    background-image: url("../media/slideshow2.png");
}

.parallax3 {
    background-image: url("../media/slideshow3.webp");
}

/* MAIN */
main h1 {
    margin: 0.5em 1em;
}

/* ASUNCION */
#asuncion div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 70%;
    margin: 2em auto;
}

#asuncion div div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    list-style: none;
}

#asuncion div h2 {
    font-size: 2em;
    font-weight: 700;
    padding-bottom: 0.5em;
}

#asuncion div img {
    width: 50%;
    padding: 0em 1em;
    /* border-radius: 70px; */
}

/* GALLERY */
.slick-slide {
    margin: 0 1em;
}

.imageholder {
    background-color: var(--pred);
    border-radius: 30px;
    width: 100%;
    height: 30em;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.imageholder:hover {
    background-size: 120%;
}

.imageholder h2 {
    padding: 1em;
    color: black;
    font-weight: 500;
    font-size: 2em;
}

.imag1 {
    background-image: url("../media/glide1.jpeg");
    background-size: 110%;
    background-position: center;
}

.imag2 {
    background-image: url("../media/glide2.jpeg");
    background-size: 110%;
    background-position: center;
}

.imag3 {
    background-image: url("../media/glide3.jpeg");
    background-size: 110%;
    background-position: bottom;
}

.imag4 {
    background-image: url("../media/glide4.jpg");
    background-size: 110%;
    background-position: top;
}

.imag5 {
    background-image: url("../media/glide5.jpg");
    background-size: 110%;
    background-position: top;
}

/* DATOS DE INTERES */
#datosimportantes > div{
    display: flex;
    justify-content: center;
}

.flexinfo {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 1em;
    background-color: white;
    padding: 1em;
    border-radius: 15px;
}

.flexinfo p, .flexinfo iframe {
    width: 100%;
    margin: 1em auto;
}

.flexinfo iframe {
    height: 100%;
}

.flexinfo p {
    color: black;
}

/* CHART E INFO */
#infoutil > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#chart-wrapper {
    width: 50%;
    margin: 1em;
}

#weather {
    width: 50%;
    margin: 1em;
}

#weather a {
    border-radius: 20px;
}

/* ACCORDION */
.accordion{
    width:50%;
    list-style:none;
    padding: 0;
    margin: 3em auto;
}
  
.accordion li{
    display: flex;
    flex-direction:column;
}

.accordion li + li{
    border-top:1px solid var(--pblue);
}

.accordion-control{
    text-align: left;
    font-size:1.2rem;
    background:white;
    color:black;
    border:none;
    padding: 0.8em 1em;
    cursor:pointer;
}

.accordion-panel{
    padding: 1em;
    background:var(--not-white);
    color:black;
    display: none;
}

/* FOOTER */
footer {
    background-color: white;
    padding: 1em;
}